name: Coverage
on: [push, pull_request]
jobs:
  cov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Setup dependencies
        run: pip install hatch
      - name: Run tests and collect coverage
        run: hatch run cov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
